@font-face {
  font-family: VazirMatn;
  src: url(Vazirmatn-Regular.woff2);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: VazirMatn !important;
}

pre,
code {
  overflow: auto;
}

#pageContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#blockly-div {
  position: absolute;
  inset: 0;
  z-index: 1;
}

#output-canvas {
  --canvas-border-width: 2pt;
  --canvas-size: 400pt;
  --canvas-minimization-width: 100pt;
  --canvas-minimization-ratio: calc(
    var(--canvas-minimization-width) / var(--canvas-size)
  );
  --canvas-border-upscaling-ratio: calc(
    var(--canvas-size) / var(--canvas-minimization-width)
  );

  border: var(--canvas-border-width) solid #ccc;
  position: absolute;
  top: 1cm;
  left: 1cm;
  background-color: white;
  width: var(--canvas-size);
  height: var(--canvas-size);
  z-index: 100;
  transform: scale(100%);
  transform-origin: top left;
  cursor: zoom-out !important;
}

#output-canvas.initialized {
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

#output-canvas.minimized {
  border-width: calc(
    var(--canvas-border-upscaling-ratio) * var(--canvas-border-width)
  );
  transform: scale(var(--canvas-minimization-ratio));
  cursor: zoom-in !important;
}

#blocklyComputeCanvas {
  display: none;
}
